.hex {
  display:inline-block;
  margin-left:3px;
  margin-bottom:-26px;
}

.hex .top {
  width:0;
  border-bottom :30px solid;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex .middle {
  width: 104px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
}

.hex .bottom {
  width:0;
  border-top :30px solid ;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.row {
  clear:left;
}

.board {
  width: 535px;
  height: 535px;
}

.row-1 {
  width:328px;
  margin-left: 107px
}

.row-2 {
  width: 428px;
  margin-left: 53.5px;
}

.circle {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  font-size: 20px;
}

.three-row {
  height: 90px;
  float:left;
  width:107px;
  /* clear:both; */
  /* background:yellow; */
  display: inline-block;
}
.right-block {
  height:90px;
  float:right;
  width:107px;
  /* background:yellow; */
}
.four-row {
  height:90px;
  float:left;
  width:53.5px;
  clear:both;
  margin-right:1px;
  /* background:yellow; */

}

.five-row {
  height:180px;
  float:left;
  width:0px;
  clear:both;
  background:yellow;

}

.six-row {
  height:65px;
  float:left;
  width:0px;
  clear:both;
  margin-right:53.5px;
  background:yellow;
}

.seven-row {
  height:45px;
  float:left;
  width:0px;
  clear:both;
  margin-right:107px;
  background:yellow;
}
